@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
}
header{
    background-color: rgb(187, 187, 187);
}
header > h1{
    text-align: center;
}
menu{
    display: block;
}
menu ul{
    list-style-type: none;
    background-color: gray;
}
menu a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(88, 88, 88);
    color: white;
    border-top: 2px solid gray;
}
menu a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}
article h2{
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

@media screen and (min-width:600px){
    menu li{
    color: white;
    display: inline-block;
}
}